.auth-container{
    @apply bg-gray-200 dark:bg-gray-600;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.success-label{
    @apply text-green-500;
    font-size: 2rem;
    font-weight: 100;
}